In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create reference to CSV file
csv_path = "Resources/Soccer2018Data.csv"

# Import the CSV into a pandas DataFrame
soccer_2018_df = pd.read_csv(csv_path, low_memory=False)
soccer_2018_df.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,RW,92.0,45.0,59.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,LW,88.0,46.0,59.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Collect a list of all the unique values in "Preferred Position"
soccer_2018_df['Preferred Position'].unique()

array(['ST', 'RW', 'LW', 'GK', 'CDM', 'CB', 'RM', 'CM', 'LM', 'LB', 'CAM',
       'RB', 'CF', 'RWB', 'LWB'], dtype=object)

In [4]:
# Looking only at strikers (ST) to start
UEFA = soccer_2018_df.loc[soccer_2018_df['Preferred Position'] == 'ST']

In [5]:
# Sort the DataFrame by the values in the "ST" column to find the worst
UEFA = UEFA[['Name', 'Preferred Position', 'Club', 'Age', 'Overall']]
UEFA = UEFA.sort_values(by = 'Overall', ascending = True).reset_index()
del UEFA['index']
UEFA.head(10)
# Reset the index so that the index is now based on the sorting locations

           Name Preferred Position                Club  Age  Overall
0     L. Sackey                 ST   Scunthorpe United   18       46
1      J. Young                 ST        Swindon Town   17       46
2    F. Prohart                 ST      Wolfsberger AC   18       47
3      R. White                 ST    Bolton Wanderers   18       47
4     R. Roache                 ST           Blackpool   17       48
5        M. Foy                 ST    Cambridge United   18       48
6  S. McSweeney                 ST         Limerick FC   19       49
7      M. Zettl                 ST  SpVgg Unterhaching   18       50
8      A. Junge                 ST        FC Helsingør   24       50
9    T. Knowles                 ST    Cambridge United   18       50

In [6]:
# Save all of the information collected on the worst striker
UEFA.to_csv("the worst.csv", index=False)